*.tmp.nlogo
.Rhistory
*.xlsx#
*.csv#
*.doc#
*.docx#
*.ods#
.DS_Store
*.icloud
*.graphml
*.world
*.out
*.swp
outputs/netlogo.log
outputs/table-output.csv
outputs/.ipynb_checkpoints
*.~lock.*xls#
ipynb_checkpoints
*.pyc
.spyproject
